body{
    margin:0;
    min-height: 100vh;
}
.dark{
    min-width:100vw;
    min-height: 100vh;
    background: #292c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.light{
    min-width:100vw;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
}
.head{
    width:100%;
    background: rgba(12,12,12,0.4);
    display: flex;
    max-width: 720px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    margin-top: 24px;
}
.title{
    font-size: 20px;
    font-family: "Montserrat, sans-serif";
    src: url("/mon.woff2") format("Montserrat, sans-serif"),
    url("/mon.woff2") format("Montserrat, sans-serif");

    /*src: url("../mirr2.woff") format("Montserrat, sans-serif"),*/
    /*url("../mir2r.woff") format("Montserrat, sans-serif");*/
}